{% extends 'base.html' %}

{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">

{% endblock %}


{% block 'titulo' %}Cadastre-se{% endblock %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 sidebar">
                <div class="logo_sidebar">
                    
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/img/Logo.png' %}">
                    </h2>

                </div>

                
            </div>

            <div class="col-md-8">
                <div class="area_cadastrar">
                   
                    {% if messages %}
                        <br>
                            {% for message in messages %}
                                <div class="alert {{message.tags}}">
                                    {{message}}
                                </div>
                            {% endfor %}
                    {% endif %}





                    <h2 class="titulo widget">Seja bem vindo</h2>
                    <p class="sub-titulo widget">Crie sua conta</p>
                    <hr>
                    
                    <form class="widget" action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
                        <span class="bold">Nome de usuário</span>
                        <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome...">
                        <br>
                        <span class="bold">E-mail</span>
                        <input class="form-control input-form" name="email" type="text" placeholder="Digite seu E-mail...">
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <span class="bold">Senha</span>
                                <input class="form-control input-form" name="senha" type="password" placeholder="Digite sua senha...">
                            </div>

                            <div class="col-md">
                                <span class="bold">Confirmar senha</span>
                                <input class="form-control input-form" name="confirmar_senha" type="password" placeholder="Confirme sua senha...">
                            </div>
                        </div>
                        <br>
                        <button class="btn-first widget">Registrar</button>

                    </form>

                    <h3 class="widget" style="position: relative; margin-top: 20px; font-weight: bold">Já possui uma conta ?&nbsp <a href="{% url 'logar' %}" class="btn btn-outline-success btn-lg widget">Logar</a> </h3>
                </div>

            </div>

        </div>


    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
      ScrollReveal().reveal('.headline', { duration: 2000 });
      ScrollReveal().reveal('.widget', { interval: 350 });
    </script>




{% endblock %}