.col-md-3 {
flex: 0 0 37%;
}


.sidebar {
    height: 100vh;
    background-image: linear-gradient(to bottom, transparent 0%, #B2D12E 80%), url('/static/autenticacao/img/alimentos.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
}


.logo_sidebar{
    padding-top: 100px;
    height: 100vh;
    text-align: center;
    backdrop-filter: blur(5px);
}

.img_logo_sidebar{
    width: 60%;
 

}

.col-md-8{
    justify-items: center;
    align-content: center;
}

.area_cadastrar{
    display: flex;
    flex-direction: column;
    margin: 8% 0 8% 0;
    width: 50%;
}

.titulo{

    font-weight: bold;

}

.sub-titulo{
    color: gray;
}

.input-form{
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    outline: 0;

}

.input-form:focus{

    border: 2px solid #edefed !important;
    outline: 0 !important;
    box-shadow: none !important;

}

.bold{
    font-weight: bold;
}

.btn-first{
    padding: 10px 20px;
    border-radius: 6px;
    border-width: 2px;
    border-style: none;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    background-color: #B2D12E;
    color: white;



}

.btn-first:hover {
    transition: 1ms ease-in-out;
    background: #589f37;
    transition: .4s;
  }
  
  .btn-first:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn-first span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }


